<div class="container">
<div class="row">
<!-- tentang -->
<div class="tentang">
  <!-- profile -->
  <div class="profile">
    <div class="row">
    <div id="bayu">
      <!-- <img src="#" alt="#"> -->
      <div class="foto"></div>
      <h4 class="nama">Bayu Aldi Yansyah</h4>
      <p class="title">Idea &amp; Web Developer</p>
    </div>
    <div id="wafiq">
      <!-- <img src="#" alt="#"> -->
      <div class="foto"></div>
      <h4 class="nama">Wafiq Sehat</h4>
      <p class="title">Creative Director</p>
    </div>
    </div>
  </div>
  <!-- /profile -->
  <!-- intro -->
  <div class="intro">
    <p>
      Kami adalah 2 dari <a href="#">59 juta</a> lebih pemuda Indonesia yang akan melaksananan Pemilihan Umum pertama kali. Tentunya kami tidak ingin salah memberi amanat kepada orang yang tidak memiliki kompeten untuk mengabdi di masyarakat ataupun kepada orang yang hanya bertujuan memperkaya dirinya sendiri dan golongannya.
    </p>

    <p>
      Melalui situs ini, kami mengumpulkan data dari semua calon legislatif dari berbagai sumber terpercaya. Sumber data utama kami adalah <a href="#">PEMILU API</a>, kemudian untuk mengetahui <i>track record</i> kami mengandalkan media massa dan data-data dari institusi terkait seperti KPK.
    </p>

    <p>
      Tujuan kami membuat situs ini adalah mempermudah masyarakat Surabaya, khususnya teman-teman kuliah kami untuk menentukan pilihan Calon legislatif mana yang akan dicoblos pada Pemilu Raya yang akan datang.
    </p>

    <p>
      Kami juga mengkampanyekan gerakan <a href="#">#BanggaGakGolput</a> karena kami percaya, salah satu hal yang bisa kami lakukan untuk merubah Indonesia menjadi lebih baik adalah mengamanatkan nya kepada orang-orang yang jujur, bersih dan adil.    
    </p>
    
    <p>
      Hormat kami,<br>
      20 Maret 2014
    </p>
  </div>
  <!-- /intro -->
</div>
<!-- /tentang -->
</div>
</div>