<div class="dapil">
<div class="container" ng-controller="DapilCtrl">
<div class="row">
  <!-- dapil-content -->
  <div class="dapil-content">
    <h4>daftar daerah pemilihan</h4>
    <!-- input-group -->
    <div class="input-group">
      <input type="text" ng-model="search" class="search-query" placeholder="Cari nama dapil, provinsi, kota, legislatif">    
    </div>
    <!-- /input-group -->
    <!-- contoh-pencarian -->
    <div class="contoh-pencarian">
        Contoh pencarian 
        <a href="" ng-click="search = 'sidoarjo'">Sidoarjo</a>
        <a href="" ng-click="search = 'Nganjuk'">Nganjuk</a>
        <a href="" ng-click="search = 'DPR'">DPR</a>
        <a href="" ng-click="search = 'DPD'">DPD</a>
    </div>
    <!-- /contoh-pencarian -->
  </div>
  <!-- /dapil-content -->
</div>
<!-- list-dapil -->
<div class="row">
<div class="list-dapil">
  <table class="table">
    <thead class="thead">
      <tr class="tr">
      <th>Nomor</th>
      <th>Nama Dapil</th>
      <th>Lembaga</th>
      <th class="provinsi">Provinsi</th>
      <th></th>
      </tr>
    </thead>
    <tbody class="tbody">
      <tr class="tr dapil-desc" ng-repeat="dapil in semuaDapil | filter:search">
        <td class="nomor">{{semuaDapil.indexOf(dapil) + 1}}</td>
        <td class="nama">{{dapil.nama}}</td>
        <td class="lembaga">{{dapil.nama_lembaga}}</td>
        <td class="provinsi">{{dapil.provinsi.nama}}</td>
        <td class="link-daftar-caleg">
          <a href="#/dapil/{{dapil.id}}">Lihat para caleg</a>
        </td>
      </tr>
    </tbody>
  </table>
  
</div>
</div>
<!-- /list-dapil -->
</div>
</div>  