<!-- header -->
<div class="header">
  <div class="container">
    <div class="row">
      <!-- header-illustration -->
      <div class="header-illustration">x</div>
      <!-- /header-illustration -->
      
      <!-- header-content -->
      <div class="header-content">
        <h1 class="kata-kata-pembukaan">
          Bukan Jamannya Golput Lagi!
        </h1>
        <p class="subheading">
          Dalam Pemilu 2014 jumlah pemilih muda mencapai 53 juta lebih, itu artinya 28% dari total pemilih adalah Pemuda Indonesia. Sebagai anak muda kita berperan penting menentukan siapa yang akan mewakili aspirasi rakyat. Jika orang-orang yang selama ini gerogoti uang Rakyat masih duduk leha-leha di parlemen, Golput hanya memperburuk keadaan. Yuk kita perbaiki hal ini! Yuk kenali para caleg!
        </p>
        <p class="link-to-dapil">
          <a href="#" class="button-red">Lihat Daerah Pemilihan</a>
          <!-- <a href="https://twitter.com/search?q=%23BanggaGakGolput&src=typd&f=realtime" class="twitter-topic">#BanggaGakGolput</a>   -->
        </p>
        
      </div>
      <!-- /header-content -->
    </div>
  </div>
</div>
<!-- /header -->

<!-- step -->
<div class="step">
  <div class="container">
    <!-- langkah pertama -->
    <div class="row langkah pertama">
      <div class="illustration">x</div>
      <div class="deskripsi">
        <h3>Daerah Pemilihan</h3>
        <p>
          Lihat daftar lengkap Dapil Se Indonesia. Klik pada daerah pemilihan yang sesuai dengan daerah pilihmu kemudian akan muncul daftar Calon Legislatifnya
        </p>
        <!-- <a href="#/dapil" class="btn-dapil">Lihat Daerah Pemilihan</a> -->
      </div>
    </div>
    <!-- /langkah pertama -->
    <!-- langkah Kedua -->
    <div class="row langkah Kedua">
      <div class="deskripsi">
        <h3>Daftar Calon Legislatif</h3>
        <p>
          Calon Legislatif diurutkan berdasarkan nomor urut caleg. Klik pada nama caleg untuk mencari tahu lebih lanjut tentang data dirinya.
        </p>
      </div>
      <div class="illustration">x</div>
    </div>
    <!-- /langkah Kedua -->
    <!-- langkah ketiga -->
    <div class="row langkah ketiga">
      <div class="illustration">x</div>
      <div class="deskripsi">
        <h3>Beritahu temanmu!</h3>
        <p>
          Setelah melihat data diri siapa saja caleg yang mencalonkan diri untuk mewakili daerahmu duduk di parlemen, sebarkan ke teman-temanmu tentang situs ini agar mereka juga tidak salah pilih.
        </p>
      </div>
    </div>
    <!-- /langkah ketiga -->
  </div>
</div>
<!-- /step